/* imports */
@import "_variables.css";
@import "_fonts";

/* global */
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-text);
}

a {
  color: var(--color-primary);
}

body > header {
  background: color(var(--color-primary) tint(90%));
  padding: 4em 0;
  letter-spacing: 1em;
  text-indent: 1em;
  color: var(--color-primary);
}

body > footer i {
  color: red;
}

/* application */
