<footer>
  <div class="container">
    <p class="text-center">Built with <i class="glyphicon glyphicon-heart"></i> at <a href="http://www.veriticreatives.com">veriticreatives.com</a></p>
  </div>
</footer>
