{{#extend "layouts/base"}}

{{#content "main"}}
<section>
  <div class="container">
    <p>&nbsp;</p>
    <p class="text-center">Now go create something beautiful</p>
    <p>&nbsp;</p>
  </div>
</section>
{{/content}}

{{/extend}}
